.site-footer {
    width: 100%;
    bottom: 0;
    position: relative;
    background-color: #314584;
    /*background-position: center;*/
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.site-footer .section-container {
    padding: 4rem 2rem;
    margin-bottom: -5rem;
}

.site-footer .columns {
    padding-bottom: 1em;
    margin-top: -20px;
}

.site-footer .columns .newsletter {
    flex: 1 1 25%;
    margin-right: 4em;
}

.site-footer .columns .newsletter form {
    display: flex;
    padding-top: 1em;
    padding-bottom: 0.5em;
}

.site-footer .columns .newsletter input,
.site-footer .columns .newsletter button {
    border-color: #fff;
    color: #fff;
    background: #4373;
}

.site-footer .columns .newsletter input {
    flex: 1 1 60%;
    color: white;
}

.site-footer .columns .newsletter button {
    flex: 0 1 40%;
}

.site-footer .columns .newsletter p {
    opacity: 0.8;
    font-size: 0.8em;
    padding: 0.5em 0;
}

.site-footer .columns .panel {
    flex: 1 1 auto;
}

.site-footer .columns .panel ul {
    padding: 1em 0 0 0;
}

.site-footer .columns .panel li,
.site-footer .columns .panel a {
    display: block;
}

.site-footer .columns .panel a {
    color: #CCC;
    text-decoration: none;
    padding: 0.4em 0;
}

.site-footer .columns .panel a:hover {
    text-decoration: underline;
    color: #fff;
}

.site-footer .columns .panel a i {
    color: #fff;
    display: inline-block;
    margin-right: 0.5em;
}

.site-footer .info {
    display: flex;
    position: absolute;
    padding-top: 2rem;
    border-top: 1px solid #fff;
    margin-top: 200px;
}

.site-footer .info ul {
    display: flex;
    padding: 0;
}

.site-footer .info li,
.site-footer .info a {
    display: block;
}

.site-footer .info li:not(:last-child) {
    padding: 0 1em 0 1rem;
}

.site-footer .info a {
    color: #DDD;
    text-decoration: none;
    line-height: 0.85;
    border-bottom: 1px solid rgb(255,255,255,0.7);
}

.site-footer .info a:hover {
    color: #fff;
    border-bottom-color: #fff;
}

@media (min-width: 600px) {

    .site-footer .columns {
        display: flex;
        gap: 4em;
    }



}