<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body class="bg-secondary">
<header th:replace="fragments/commons::nav">
</header>
<main style="padding-bottom: 4rem">
<!--<article class="w3-col m6 w3-padding-large">-->
    <h1 class="w3-center" style="color: cornflowerblue">About Bar & Dinner Kamenovi</h1><br>
    <h5 class="w3-center"style="color: darkcyan">Tradition since 1990</h5>
    <p class="w3-large">We've 30 years' experience of crafting the finest quality coffee, drinks and food.
        From revolutionary methods and commitment to quality to unforgettable successes that have made
        Kamenovi Coffee the Nation’s Favourite* coffee shop, our story is as unique as our coffee.
        But first, let’s start with how every good story should. At the very beginning.
        The Kamenovi Coffee story began back in 1990 when Kamen Kamenov arrived in Sofia with a burning desire to make great
        tasting coffee a part of everyday life.
        Setting up a small roastery in Vitosha Street, they committed to crafting the finest quality coffee.
        It was here the Kamenovi brothers blind-tested 112 variations of coffee before they tasted one good enough to be our signature blend.
        They named it ‘Mocha Italia’ and it remains our signature blend to this day.e.We only use <span
                class="w3-tag w3-light-grey">seasonal</span> ingredients.</p>
    <p class="w3-large w3-text-grey w3-hide-medium">Our sustainability programme, Coffee with Commitment, is our action plan to drive
        positive change in the areas where we can have the greatest impact, and that matter most to our teams, suppliers,
        partners and our consumers. It considers everything that's poured into your cup of perfectly crafted coffee –
        the ingredients you can see, as well as the ones you can't.</p>

<!--</article>-->
</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>