<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>

<body class="bg-secondary">
<header th:replace="fragments/commons::nav">
</header>
<main role="main" class="bg-secondary">

    <div class="jumbotron">
        <div class="container text-light text-center">
            <h4 class="display-3"><strong class="bg-blur rounded">Welcome  </strong></h4>
            <h4 class="display-3"><strong class="bg-blur rounded">to MoniCoffee</strong></h4>
            <h4 class="display-3"><strong class="bg-blur rounded">Barista Coffee Shop</strong></h4>
        </div>
    </div>
    <article class="bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <img width="50px" src="/images/coffee.png" alt="Coffee image">
                    <h2 class="pl-5">Coffee</h2>
                </div>
                <p class="mt-3 ">Our Coffees
                    At MoniCoffee it always has been and will always be about quality.
                    Our passion for coffee is rivalled only by our love of sharing it.
                    Whether you’re sipping solo or hosting guests, enjoying coffee at home should be a relaxing,
                    soothing and soulful experience.
                    With so many options to choose from, it’s difficult to find that perfect cup.
                </p>
            </div>

            <div class="col-md-4">
                <div class="row">
                    <img width="50px" src="/images/cake.png" alt="Coffee image">
                    <h2 class="pl-5">Cake</h2>
                </div>
                <p class="mt-3">To fully enjoy our excellent coffee, you will surely need a bite of our sweet products.
                    Our pastries and sandwiches are made with high-quality, simple ingredients.
                    So all the goodness you taste is real food, simply delicious.
                </p>
            </div>
            <div class="col-md-4 ">
                <div class="row">
                    <img width="50px" src="/images/drink.png" alt="Coffee image">
                    <h2 class="pl-5">Drinks</h2>
                </div>
                <p class="mt-3">If you feel that you need a little extra freshness to our excellent coffee,
                    you can browse our menu of drinks.There you will find a huge variety of drinks, starting from
                    natural juices and carbonated drinks, going through non-alcoholic and light alcoholic cocktails, to
                    stronger drinks. :)
                </p>
            </div>

        </div>

        <hr class="bg-light">
    </div>
    </article>
</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>