
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body class="bg-secondary">
<header th:replace="fragments/commons::nav">
</header>
<main>
  <!--<article class="w3-col m6 w3-padding-large">-->
  <div class="section-container">
    <div class="max-width-container">
      <div class="section-heading-section-heading section-heading-root-class-name">
        <h1 class="section-heading-text Heading-2">
          <span>Our new prepositions</span>
        </h1>
        <span class="section-heading-text1">
                <span>
                   Latest
                </span>
              </span>
      </div>
      <div class="home-container08">
        <div class="blog-post-card-blog-post-card">
          <img alt="image" src="/images/photo-meat.png" class="blog-post-card-image" />
          <div class="blog-post-card-container">
                  <span class="blog-post-card-text">
                    <span>Tasty Chicken Burger</span>
                  </span>
            <span class="blog-post-card-text1">
                    <span>
                      Home made with biological meat.
                    </span>
                  </span>
            <a href="#" class="button">
              Read more
            </a>
          </div>
        </div>
        <div class="blog-post-card-blog-post-card">
          <img alt="image" src="/images/salad.jpg" class="blog-post-card-image" />
          <div class="blog-post-card-container">
                  <span class="blog-post-card-text">
                    <span>Spaghetti Bolognese with home made mincemeat bals </span>
                  </span>
            <span class="blog-post-card-text1">
                    <span>
                      Consectetur adipiscing elit duis tristique sollicitudin
                      nibh
                    </span>
                  </span>
            <a href="#" class="button">
              Read more
            </a>
          </div>
        </div>
        <div class="blog-post-card-blog-post-card">
          <img alt="image" src="/images/floar.png" class="blog-post-card-image" />
          <div class="blog-post-card-container">
                  <span class="blog-post-card-text">
                    <span>Special combinations beef stack with green salad </span>
                  </span>
            <span class="blog-post-card-text1">
                    <span>
                      Home made beef meat with not chemically treated green salad!
                    </span>
                  </span>
            <a href="#" class="button">
              Read more
            </a>
          </div>
        </div>
        <div class="blog-post-card-blog-post-card">
          <img alt="image" src="/images/coffeeBeans.png" class="blog-post-card-image" />
          <div class="blog-post-card-container">
                  <span class="blog-post-card-text">
                    <span>Chicken Salad</span>
                  </span>
            <span class="blog-post-card-text1">
                    <span>
                  Crispy mix of fresh salads, fresh tomatoes, sweet corn, aromatic croutons,
                      breaded chicken fillet and sauce of your choice
                    </span>
                  </span>
            <a href="#" class="button">
              Read more
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>



  <!--</article>-->
</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>
</html>